streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters

langchain-groq
langchain-huggingface
langchain-chroma

sentence-transformers
rank-bm25

chromadb
pypdf

python-dotenv

scikit-learn